<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mailgun App</title>
</head>
<body>
  <div class="container">
    <button type="button" onClick="cargar('btnHombre')" class="btn btn-primary">#{btnHombre}</button>
    <button type="button" onClick="cargar('btnMujer')" class="btn btn-primary">#{btnMujer}</button>
    <button type="button" onClick="cargar('btnEdad0')" class="btn btn-primary">#{btnEdad0}</button>
    <button type="button" onClick="cargar('btnEdad20')" class="btn btn-primary">#{btnEdad20}</button>
    <button type="button" onClick="cargar('btnEdad40')" class="btn btn-primary">#{btnEdad40}</button>
    <div>
      <table style="width: 100%" id="contenido"></table>
    </div>
  </div>
</body>
</html>

script(src='/javascripts/index.js')
